/*  FONTS:
    font-family: 'Nova Slim', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oxanium', cursive;
*/

/* - - MODEL CLASS - - */

.wrapp {
    display: flex;
    align-items: center;
}

.section-model {
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    min-height: 720px;
}

.flex-column {
    flex-direction: column;
}

.paralax {
    z-index: -10;
    position: fixed;
    top: 0;
    height: 100vh;
    background-image: url(./img/eiffel-tower.jpg);
    background-position: center;
    background-size: cover;
}

.long-height {
    height: 60px;
    background: #fafafa;
}

.show-menu {
    top: 0px;
}

/* - - - - - - - GLOBAL STYLE - - - - - - - */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    z-index: 10;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 120px;
    background: #fafafa;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.header {
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    height: 100%;
}

header, header nav, header a, .box2, .form-div input[type="submit"] {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

header h1 {
    padding: 10px;
    margin-left: 20px;
    font-family: 'Nova Slim', cursive;
    font-size: 2.5em;
    font-weight: lighter;
}

header label {
    margin: 0 40px 0 20px;
    font-size: 2em;
}

header ul {
    margin-right: 20px;
    list-style: none;
    font-family: 'Oxanium', cursive;
    font-size: 1.3em;
}

header a:link {
    text-decoration: none;
}

header  a, header a:visited{
    color: #424242;
}

header a:hover {
    color: #1E88E5;
}

header li {
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.home {
    justify-content: center;
}

.home {
    font-family: 'Nova Slim', cursive;
    color: #fff;
}

.box1 {
    justify-content: center;
    width: 500px;
    height: 80px;
    text-transform: uppercase;
    font-size: 1.8em;
    background: rgba(0, 0, 0, 0.3);
}

.box2 {
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    font-size: 1.8em;
    background-color: #1E88E5;
}

.box2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box2:hover {
    background-color: #82B1FF;
}

.home a:link {
    text-decoration: none;
}

.home a, .home a:visited {
    color: #fff;
}

.about {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #FFF3E0;
}

.image-div, .text-div {
    width: 600px;
    height: 600px;
}

.image-div img {
    width: 100%;
    margin-top:  68px;
}

.text-div {
    padding: 50px;
    height: 467px;
    color: #424242;
    background: rgba(255, 255, 255, 0.5);
}

.text-div h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Nova Slim', cursive;
    font-size: 2em;
    text-transform: uppercase;
}

.text-div h3 {
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}

.services {
    justify-content: space-evenly;
    background-image: url(./img/santorini.jpg);
    background-size: cover;
    background-position: center;
}

.service-card {
    box-sizing: unset;
    justify-content: space-around;
    flex-direction: column;
    width: 310px;
    height: 400px;
    margin: 50px 0;
    border: solid 5px #fff;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.service-card div {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    height: 40%;
    border-top: solid 5px #fff;
}

.service-card h2 {
    text-transform: uppercase;
}

.price {
    font-size: 3em;
}

.contact {
    height: 720px;
    background: #BBDEFB;
}

.contact div {
    width: 50%;
    height: 100%;
}

.contact-background {
    background-image: url(./img/man.jpg);
    background-size: cover;
    background-position: left;
}

.form-div {
    flex-direction: column;
    justify-content: center;
}

.form-div form {
    padding: 35px 50px;
    width: 500px;
    height: 500px;
    color: #757575;
    background: #fafafa;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.form-div p {
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

.form-div input {
    padding: 10px;
    width: 100%;
    height: 60px;
    margin: 10px 0;
    border: solid 1px #9e9e9e;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #757575;
}

.form-div input[type="submit"] {
    margin-top: 30px;
    cursor: pointer;
    border: none;
    background: #bdbdbd;
    color: #fafafa;
}

.form-div input[type="submit"]:hover {
    background: #82B1FF;
}

.footer {
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    height: 360px;
    background-color: #0D47A1;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.footer-left {
    padding: 50px;
    border-right: solid 2px #fff;
    text-align: right;
}

.footer-right {
    padding: 50px;
    text-align: left;
}

.footer-title {
    margin-bottom: 50px;
}

/* - - - - - - - DESKTOP STYLE - - - - - - - */

@media only screen and (min-width: 768px){

    .header label {
        display: none;
    }

    .image-div img {
        border-radius: 0 20px 20px 0;
    }

    .text-div {
        border-radius: 20px 0 0 20px;
    }

    @media (max-width: 1220px){

        .about, .services {
            height: unset;
        }

        .services {
            flex-direction: column;
        }

        .image-div img {
            border-radius: 20px;
        }

        .text-div {
            margin-top: 50px;
            border-radius: 20px;
        }
        
        .contact-background {
            display: none;
        }

        .contact div {
            width: 100%;
        }
    }

}

/* - - - - - - - MOBILE STYLE - - - - - - - */

@media only screen and (max-width: 768px){

    header {
        height: 60px;
    }

    header nav {
        z-index: -1;
        position: absolute;
        top: -350px;
        padding-top: 50px;
        width: 100%;
        height: 300px;
        text-align: center;
        background: #fafafa;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
    }

    header ul {
        display: flex;
        flex-direction: column;
    }

    .box1 {
        width: 100vw;
        height: 120px;
        margin-bottom: 50px;
        text-align: center;
    }

    .paralax {
        background-size: cover;
        background-position: bottom;
    }

    .about {
        height: unset;
        flex-flow: column;
    }

    .text-div {
        text-align: center;
        font-size: 0.8em;
    }

    .image-div img, .text-div {
        border-radius: 0;
        height: auto;
        margin: 0;
    }

    .image-div, .text-div {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .services {
        flex-direction: column;
        height: unset;
    }

    .contact-background {
        display: none;
    }

    .contact div {
        width: 100%;
    }

    .form-div form {
        padding: 20px;
        width: 90%;
        height: 70%;
        font-size: 0.8em;
    }

    .footer {
        flex-direction: column;
        height: 300px;
    }

    .footer div {
        padding: 0;
        margin: 20px 0;
        border: none;
        text-align: center;
        font-size: 0.8em;
    }

    .footer p {
        margin: 10px;
    }

}